<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxC_Ua86ymwcI_QW8Ow1SqPgn2Dn_PaTk</string>
	<key>GCM_SENDER_ID</key>
	<string>925380263758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.designcode.Collaboration3-iBanProject</string>
	<key>PROJECT_ID</key>
	<string>ibanproject-d7073</string>
	<key>STORAGE_BUCKET</key>
	<string>ibanproject-d7073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:925380263758:ios:193038681afdaf806fe81f</string>
</dict>
</plist>
